@media (min-width: 1200px) {
  .upcoming-info-box {
    justify-content: space-around;
  }
}

@media (max-width: 1200px) {
  .hero-section__hero-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }

  .service-item__description {
    line-height: 1.3;
  }

  .about-me__description {
    width: 70%;
    font-size: 1.7rem;
  }

  .service-item__icon {
    height: 80px;
    width: 80px;
  }

  .training__left-side {
    width: 55%;
  }

  .training__logo {
    width: 120px;
  }

  .training__info-title {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
  }

  .training__info {
    font-size: 1.6rem;
  }

  .training__title {
    font-size: 5.6rem;
  }

  .training__img {
    width: 400px;
    padding-right: 0;
  }

  .training__button {
    width: 100%;
  }

  .training__button--btn-white {
    display: none;
  }

  .training__edition {
    padding: 0 20px;
    margin-top: 80px;
  }

  .training__edition span {
    font-size: 2.2rem;
  }

  .training__edition h6 {
    margin-top: 8px;
    font-size: rem;
    font-weight: 700;
  }

  .learning-path__item-description {
    line-height: 1.3;
    font-size: 1.6rem;
  }

  .learning-path__item-footer {
    height: 40px;
  }

  .image-gallery img {
    margin: 30px;
    height: 30px;
  }

  /* ---------------------------------------------------------------- */
  .image-gallery img.vemco {
    height: 70px;
    margin: 0;
  }

  .image-gallery img.trustedoctor {
    height: 14px;
  }

  .image-gallery img.t-mobile {
    height: 22px;
  }

  .image-gallery img.dimater {
    height: 45px;
  }

  .image-gallery img.asseco {
    height: 12px;
  }

  .image-gallery img.nordea {
    height: 20px;
  }

  .image-gallery img.itfs {
    height: 20px;
  }

  .image-gallery img.pg {
    height: 22px;
  }

  .image-gallery img.cs {
    height: 50px;
    margin-bottom: 16px;
  }

  /* ------------------------------------------------------------------------ */

  .footer button {
    margin-top: 10px;
  }
}
